@media screen and (max-width: 768px) {
  .userDashboard .content-page {
    margin-left: 0;
    margin-top: 20px;
  }
  .css-j400xw-MuiPaper-root-MuiDrawer-paper {
    background-color: #051a2e !important;
    padding-top: 80px !important;
    margin-bottom: 40px !important;
  }
  .css-1ophm6a-MuiButtonBase-root-MuiListItemButton-root {
    margin-left: 0px !important;
  }
  .css-j400xw-MuiPaper-root-MuiDrawer-paper .css-0 {
    margin-bottom: 100px !important;
  }
  .qr-main-page .content-page .cards-container .cardd{
    width: 100%;
  }
  .qr-main-page .content-page h1{
    font-size: 25px;
    margin-bottom: 15px;
  }
  .css-nsg84x {
    background-color: #051a2e !important;
    padding-top: 80px !important;
    margin-bottom: 40px !important;
  }
  .css-1xluvnv{
    margin-left: 0px !important;
    margin-top: 8px !important
  }
}
